<div>
  <div class="head">
    <h1>Albums of {{albumName}}</h1>
  </div>
  <div class="albums-container">
      {{#each items}}
        {{> albumCard}}
      {{/each}}
  </div>
   <div class="footer">

  </div>
</div>