<div>
  <div class="head">
    <h1>Search results for {{query}}</h1>
  </div>
  <div class="artists-container">
    {{#each items}}
      {{> artistCard}}
    {{/each}}
  </div>
  <div class="footer">

  </div>
</div>